{% extends 'base.html' %}

{% block content %}
<div class="content-section">
    <div class="page">
        <div class="container grid grid3">
            <div class="one">
                <h1>Who We Are</h1>
                <p>This is an online consultation platform that fastens the<br> diagnosis of STIs through predictive
                    analysis of symptoms keyed in by the patient.</p>
            </div>
            <div class="two">
                <h1>How We Operate</h1>
                <p>The patient keys in their symptoms and the system matches it to the most accurate<br> disease
                    from the database. It then prescribes the relevant medication or refers you<br> to a doctor.
                    Alternatively, a patient can directly consult a doctor online.</p>
            </div>
            <div class="three">
                <h1>Our Core Values</h1>
                <ul>
                    <li>Quality</li>
                    <li>Dynamism</li>
                    <li>Transparency</li>
                    <li>Professionalism</li>
                    <li>Integrity</li>
                </ul>
            </div>
        </div>

    </div>
</div>

{% endblock %}