<footer>
    <div class="container grid grid3">
        <div class="brand">
            <h1>SmartHealth</h1>
            <p>&copy; 2021 SmartHealth</p>
        </div>
        <div class="contact">
            <div class="contact-title">
                <h2>Contact</h2>
            </div>
            <div class="contact-item">
                <i class="fa fa-phone"></i>
                <a href="tel:+2542892836355">+2542892836355</a>
            </div>
            <div class="contact-item">
                <i class="fa fa-envelope"></i>
                <a href="mailto:info@smarthealth.com">info@smarthealth.com</a>
            </div>
        </div>
        <div class="social flex">
            <div class="social-item">
                <i class="fab fa-facebook-f"></i>
            </div>
            <div class="social-item">
                <i class="fab fa-twitter"></i>
            </div>
            <div class="social-item">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="social-item">
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
</footer>